*
{
    text-align: center;
}
h1{
    letter-spacing: 5px;
}
.button
{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    margin-right: 20px;

}
#box1{
    background-color: lightsalmon;
}
#box2{
      background-color: lightblue;
}
#box3{
    background-color: lightgreen;
}
#box4{
    background-color: grey;
}
#box5{
    background-color:yellow;
}
#box6{
    background-color: navy;
}